:host {
  width: 90%;
  display:table;
  margin: 10px;
  border-style: solid;
  border-width: medium;
  border-color: pink;
}

.pink {
  padding-left: 2%;
  color: pink;
}

.inline {
  display: inline;
}

.d-table {
  display:table;
}

.d-table-cell {
  display:table-cell;
}

.tar {
  text-align: right;
}

.button-delete {
  margin: 2%;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-delete:hover,
.button-delete:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-delete:active {
  opacity: .5;
}

.button-move {
  margin: 2%;
  align-items: center;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-move:active {
  background-color: #006AE8;
}
.button-move:disabled {
  background-color: grey;
  cursor: no-drop;
}
.button-move:hover .button-move:active {
  background-color: #1C84FF;
}
