:host {
  height: 100%;
  border-style: solid;
  border-width: medium;
  display: block;
}

:host(.border-blue) {
  border-color: blue;
}

.blue {
  padding-left: 2%;
  color: blue;
}

:host(.border-green) {
  border-color: green;
}

.green {
  padding-left: 2%;
  color: green;
}

:host(.border-grey) {
  border-color: grey;
}

.grey {
  padding-left: 2%;
  color: grey;
}

:host(.border-orange) {
  border-color: orange;
}

.orange {
  padding-left: 2%;
  color: orange;
}

:host(.border-pink) {
  border-color: pink;
}

.pink {
  padding-left: 2%;
  color: pink;
}

:host(.border-red) {
  border-color: red;
}

.red {
  padding-left: 2%;
  color: red;
}

.larger {
  padding-bottom: 10%;
  margin-bottom: 3%;
}

.inline {
  display: inline;
}

.button-add {
  margin: 2%;
  display: inline;
  flex-direction: row;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-add:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.d-table {
  display:table;
}

.d-table-cell {
  display:table-cell;
}

.tar {
  text-align: right;
}

.button-delete {
  margin: 2%;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-delete:hover,
.button-delete:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-delete:active {
  opacity: .5;
}

.button-move {
  margin: 2%;
  align-items: center;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-move:active {
  background-color: #006AE8;
}
.button-move:disabled {
  background-color: grey;
  cursor: no-drop;
}
.button-move:hover .button-move:active {
  background-color: #1C84FF;
}
